<%#-- copyright
OpenProject Costs Plugin

Copyright (C) 2009 - 2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

++#%>

<%= form_tag({}) do -%>
<%= javascript_include_tag "costs/hideableColumnsOfTable.js" %>

<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table interactive-table class="generic-table" id="material_budget_items">
      <colgroup>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
      </colgroup>
      <thead>
        <tr>
          <%= sort_header_tag("subject", :caption => CostObject.human_attribute_name(:subject)) %>
          <%= sort_header_tag("id", :caption => '#', :default_order => 'desc') %>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  Gautas
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  Atsiskaitytas
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  Neatsiskaitytas
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  Nevykdomi darbai
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= CostObject.human_attribute_name(:budget) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                    Ásisavintas
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                    Neásisavintas
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  Pelningumas
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  Pelningumas procentais
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  Dalis nuo viso biudþeto
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= CostObject.human_attribute_name(:budget_ratio) %>
                </span>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <%
          total_budget = BigDecimal.new("0")
          total_material_budget = BigDecimal.new("0")
          total_spent_material_budget = BigDecimal.new("0")
          total_not_spent = BigDecimal.new("0")
          total_planned_budget = BigDecimal.new("0")
          total_spent_planned_budget = BigDecimal.new("0")
          total_balance = BigDecimal.new("0")
          overall_material_budget = BigDecimal.new("0")
          material_budget = BigDecimal.new("0")
          spent_material_budget = BigDecimal.new("0")
          material_budget_balance = BigDecimal.new("0")
          not_spent_budget = BigDecimal.new("0")
          planned_budget = BigDecimal.new("0")
          spent_planned_budget = BigDecimal.new("0")
          plannet_budget_balance = BigDecimal.new("0")
          balance = BigDecimal.new("0")
        %>
        <% cost_objects.each do |cost_object| %>
          <% Rails.logger.warn(cost_object.inspect) %>
          <%  overall_material_budget = cost_object.got_material_budget(0)
        cost_object.got_material_budget(1)%>
          <%  if overall_material_budget > 0 %>
            <tr id="cost_object-<%= cost_object.id %>" class="<%= cost_object.css_classes %>">
            <%
                total_budget += overall_material_budget
            %>
            <%= content_tag(:td, link_to(h(cost_object.subject), cost_object_path(cost_object.id)), :class => 'subject') %>
            <td><%= link_to cost_object.id, cost_object_path(cost_object.id) %></td>
            
            <%= content_tag(:td, number_to_currency(overall_material_budget, unit: "", :precision => 2), :class => 'currency') %>
            <td>-</td> 
            <td>-</td> 
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <% end %>
        <% end %>
          <% Rails.logger.warn("Another part") %>
        <% cost_objects.each do |cost_object| %>
          <% Rails.logger.warn(cost_object.inspect) %>
          <% if cost_object.got_material_budget(0) <= 0 %>
            <tr id="cost_object-<%= cost_object.id %>" class="<%= cost_object.css_classes %>">
              <%
                material_budget = cost_object.got_material_budget(1)
                spent_material_budget = cost_object.spent_material_budget(1)
                material_budget_balance = material_budget - spent_material_budget
                not_spent_budget = cost_object.got_material_budget(3)
                planned_budget = cost_object.got_material_budget(2)
                spent_planned_budget = cost_object.spent_material_budget(2)
                plannet_budget_balance = planned_budget - spent_planned_budget
                balance = material_budget - spent_planned_budget

                total_material_budget += material_budget
                total_spent_material_budget += spent_material_budget
                total_not_spent += not_spent_budget
                total_planned_budget += planned_budget
                total_spent_planned_budget += spent_planned_budget
                total_balance += balance
              %>
              <%= content_tag(:td, link_to(h(cost_object.subject), cost_object_path(cost_object.id)), :class => 'subject') %>
              <td><%= link_to cost_object.id, cost_object_path(cost_object.id) %></td>
              <%= content_tag(:td, number_to_currency(material_budget, unit: "", :precision => 2)) %>
              <%= content_tag(:td, number_to_currency(spent_material_budget, unit: "", :precision => 2)) %>
              <%= content_tag(:td, number_to_currency(material_budget_balance, unit: "", :precision => 2), bgcolor: (material_budget-spent_material_budget)!=0 ? "orange" : nil) %>
              <%= content_tag(:td, number_to_currency(not_spent_budget, unit: "", :precision => 2), bgcolor: not_spent_budget > 0 ? "orange" : nil) %>
              <%= content_tag(:td, number_to_currency(planned_budget, unit: "", :precision => 2)) %>
              <%= content_tag(:td, number_to_currency(spent_planned_budget, unit: "", :precision => 2)) %>
              <%= content_tag(:td, number_to_currency(plannet_budget_balance, unit: "", :precision => 2), bgcolor: (material_budget-spent_material_budget)<0 ? "orange" : nil) %>
              <%= content_tag(:td, number_to_currency(balance, unit: "", :precision => 2)) %>
              <% if material_budget > 0 %>
                <%= content_tag(:td, number_with_precision(balance/material_budget * 100, :precision => 2) + '%', bgcolor: balance/material_budget < 0.1 ? "orange" : nil) %>
                <%= content_tag(:td, number_with_precision(material_budget/total_budget * 100, :precision => 2) + '%') %>      
                <%= content_tag(:td, extended_progress_bar(spent_material_budget/material_budget*100, :legend => "#{number_with_precision(spent_material_budget/material_budget*100, :precision => 2)}")) %>
              <% else %>   
                <td> </td>
                <td> </td>  
                <td> </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <% if cost_objects.length > 0 %>
        <tr>
          <td> </td>
          <td> Suma </td>
          <td class="currency" <% if (total_material_budget-total_budget).abs > 0.005 %>bgcolor="orange"<% end %>><strong><%= number_to_currency( total_material_budget, unit: "", :precision => 2) %></strong></td>
          <td class="currency"><strong><%= number_to_currency( total_spent_material_budget, unit: "", :precision => 2) %></strong></td>
          <td class="currency" <% if (total_material_budget - total_spent_material_budget)!=0 %>bgcolor="orange"<% end %>><strong><%= number_to_currency( total_material_budget - total_spent_material_budget, unit: "", :precision => 2) %></strong></td>
          <td class="currency" <% if total_not_spent>0 %>bgcolor="orange"<% end %>><strong><%= number_to_currency( total_not_spent, unit: "", :precision => 2) %></strong></td>
          <td class="currency"><strong><%= number_to_currency( total_planned_budget, unit: "", :precision => 2) %></strong></td>
          <td class="currency"><strong><%= number_to_currency( total_spent_planned_budget, unit: "", :precision => 2) %></strong></td>
          <td class="currency" <% if (total_planned_budget - total_spent_material_budget)<0 %>bgcolor="orange"<% end %>><strong><%= number_to_currency( total_planned_budget - total_spent_planned_budget, unit: "", :precision => 2) %></strong></td>
          <td class="currency"><strong><%= number_to_currency( total_balance, unit: "", :precision => 2) %></strong></td>
          <% if total_budget > 0 %>
            <td class="currency" <% if (total_balance/total_budget)< 0.1 %>bgcolor="orange"<% end %>><strong><%= number_to_percentage(total_balance/total_budget*100, :precision => 2) %></strong></td>
          <% else %>
            <td> </td>
          <% end %>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td>Gauto biudþeto suma</td>
          <td class="currency"><strong><%= number_to_currency( total_budget, unit: "", :precision => 2) %></strong></td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    * Visos pateiktos sumos yra eurais
    <div class="generic-table--header-background"></div>
  </div>  
</div>
Rodomi stulpeliai<br>
<input type="checkbox" onclick="showhide(1, this);" checked="checked" /> Pavadinimas<br/>
<input type="checkbox" onclick="showhide(3, this);" checked="checked" /> ID<br/>
<input type="checkbox" onclick="showhide(5, this);" checked="checked" /> Gautas<br/>
<input type="checkbox" onclick="showhide(7, this);" checked="checked" /> Atsiskaitytas<br/>
<input type="checkbox" onclick="showhide(9, this);" checked="checked" /> Neatsiskaitytas<br/>
<input type="checkbox" onclick="showhide(11, this);" checked="checked" /> Nevykdomi darbai<br/>
<input type="checkbox" onclick="showhide(13, this);" checked="checked" /> Planuojamas<br/>
<input type="checkbox" onclick="showhide(15, this);" checked="checked" /> Ásisavintas<br/>
<input type="checkbox" onclick="showhide(17, this);" checked="checked" /> Neásisavintas<br/>
<input type="checkbox" onclick="showhide(19, this);" checked="checked" /> Pelningumas<br/>
<input type="checkbox" onclick="showhide(21, this);" checked="checked" /> Pelningumas procentais<br/>
<input type="checkbox" onclick="showhide(23, this);" checked="checked" /> Dalis nuo viso biudþeto<br/>
<input type="checkbox" onclick="showhide(25, this);" checked="checked" /> Praleista<br/>

<% end -%>
